html<{background-color: #FFB44E;
}>
body<{background-color: #5A33B0;
width: 960 px;
margin: 20 px auto; 
}>
header{ 
    padding:20 px;
    text-align: center;
 }
 header img {
    display:block;
    margin:20 px auto;
    width: 50 %;

 }
 nav <{
    background-color: #C28127;
    padding: 20 px;
    text-align: center;
 }>
 nav a <{color: #FFB44E;
font-size: 28 px;
margin: 0 20 px;
}>
nav a <:hover{color: #5A33B0;
text-decoration: none;
}>

 main< {

padding:20 px;

 }>

 main img{
    display: block;
    margins: 20px auto;
    width: 35%;

 }
 footer {background-color: #C28127;
text-align: center;
padding: 40px 0;
}
h1, h2, h3 {color: antiquewhite;}