body {
    background-color: #FD478A;
}

img {
    display: block;
margin: 0 auto;
width: 100%;

}

h1, h2, h3 {
    color: #ffff;
    text-align: center;
}
 #container {

    background-color: #E34640;
 }

 nav {
background-color: #FA7152;
padding: 8px 0;
text-align: center;
text-decoration: none;
 }

 nav ul {

    padding: 0;
    list-style-type: none;
 }

 nav li {

    display: block;
    border-bottom: 5px solid #FD478A;

 }

 nal li a {

    display: block;
    height: 40px;
    line-height: 40px;
background-color: #FFBC59 ;
color: #FD478A;
text-decoration: none;
font-size: 1.3em;
padding: 5px 0;
 }

 nav li a:hover {

    background-color: #FA7152;
    color: #FD9D47;
    border-color: #E34640;
 }

 main {
    padding: 20px;

 }

 .col {

    padding: 10px;

border: 10px solid #FD478A;
border-radius: 20px;
 }

 footer {

    background-color: #FA7152;
    color: #FD9D47;
    font-weight: bold;
    text-align: center;
    padding: 40px 0;

 }

 .button {
    display: block;
    width: 100px;
    height: 10px;
    line-height: 10px;
    background-color: #FD9D47;
    color: #ffff;
    text-decoration: solid #FA7152;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: 4px solid #E34640;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
 }

 .button hover {
background-color: #FD478A;
    border-color: #E34640;
 }

@media (min-width: 800px) {
    nav li {
        display: inline-block;
        border: 0;
     }

    nav li a {
width: 175px;
margin: 0 5px;
border-radius: 10px;
border: 4px solid #FFBC59;
    }
    main {
        display: flex;
    }

    section, aside {
        padding: 10px;
        margin: 10px;
        border: 4px solid #FFBC59;
        border-radius: 20px;
        
    }
    section {
        width: 70%;
    }

    aside {
        width: 30%;

    }
.col img {

    width: 75%;
}


.single_page {
    width: 100%;
    }

    table img {
        width: 75%;
    }

    table {
        border: #FA7152;
    }
    tr, td {
border: 8px solid #FFBC59;

    }

}

@media(min-width: 1024px) {
#container {
    width: 65%;
    margin: 20px auto;
}

nav li a {background-color: #FD478A;
border: 0px;
}

#lower_area {
    display: flex;
}

.col {
    border:  2px solid #FFBC59;
    padding: 8px;
    margin: 8px;
    border-radius: 10px;
}


.single_page {
width: 100%;
}



}

